@font-face {
    font-family: "main-text-regular";
    src: url("../fonts/poppins_regular.woff2") format("woff2"), url("../fonts/poppins_regular.woff") format("woff");
}

@font-face {
    font-family: "main-text-medium";
    src: url("../fonts/poppins_medium.woff2") format("woff2"), url("../fonts/poppins_medium.woff") format("woff");
}
/*! main-text bold */
@font-face {
    font-family: "main-text-bold";
    src: url("../fonts/poppins_bold.woff2") format("woff2"), url("../fonts/poppins_bold.woff") format("woff");
}